$navbar-height: 60px;

$colors: (
  primary: #eeee,
  secondary: #eeee,
  light-grey: #D6D8DA,
  medium-grey: #B8B9BB,
  dark-grey: #999,
  twitch: #4B367D,
  twitch-hover: #6045a0,
  light-blue: cornflowerblue,
  light-red: #ec1313,
  primary-background: #FFFF,
  secondary-background: #FAFAFA,
  tertiary-background: #201c2b,
);

$phone-widht: 78px;
$large-screen-width: 1200px;
