@import "~src/theme/variables";
@import "~src/theme/mixins";
.background-image {
  background-image: url(/assets/images/background-test.jpeg);
  height: calc(100vh - 60px);
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .overlay-image {
    height: 100%;
    background-color: rgba(0,0,0,0.7);

    .caption {
      height: 100%;
      @include flex-direction(column);
      top: calc(-#{$navbar-height}/2);
      width: 100%;
      text-align: center;
      color: black;

      img {
        margin: 1em;
        width: 300px;
      }

      span.border {
        background-color: black;
        color: white;
        padding: 15px;
        font-size: 25px;
        letter-spacing: 10px;
      }
    }
  }
}

